{% extends 'Cronjob_Dev/base.html' %}


{% block content %}

    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div>

                <div>
                    <h1>Cron-Job erstellen</h1>
                    <p>Füllen sie das folgende Formular aus um einen Cron-Job anzulegen. Es werden sowohl
                        http- als auch https-URL's unterstützt. Falls die URL mit HTTP-Autentifizierung gesichert
                        ist(z.B."htaccess-Passwordschutz"),hinterlegen Sie bitte auch die ensprechenden zugangsdaten
                        damit wir die Webseite korrekt abrucfen können</p>
                    <div><i>Hinweis:</i>
                        <p>Weitere erweitere Einstellungen für ihren Cron-Job können sie nach dem Anlegen
                            vornehmen,indem sie den Job bearbeiten.</p>
                    </div>
                </div>
                <!--Titel und Url -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="titlecon">Titel</label>
                        <input type="text" class="form-control" id="titlecon" name="title">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="urlcon">URL</label>
                        <input type="url" class="form-control" id="urlcon" placeholder="https://" name="url">
                    </div>
                </div>


                <!-- Erfordert Authentifizierung-->
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1" onclick="showBorder()">
                            <label class="form-check-label" for="gridCheck1" name="auth" value="on">
                                Erfordert HTTP-Autentifizierung
                            </label>
                        </div>
                    </div>
                </div>

                <script>

                </script>

                <!--Username und Passwort-->


                <div class="form-row visability" id="border2">
                    <div class="form-group col-md-6">
                        <label for="usercon">Username</label>
                        <input type="text" class="form-control" id="usercon" name="username">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="pwcon">Password</label>
                        <input type="password" class="form-control" id="pwcon" name="password">
                    </div>
                </div>

                <br>
                <!-- Ausführung-->

                <div class="row-form">
                    <div class="row-md-6">
                        <!-- 1.radio Button-->
                        <div class="form-check col-md-6  " style="vertical-align: middle;">
                            <input class="form-check-input mt-2 radio-button" type="radio" name="ausführung"
                                   value="firstBtn"
                                   id="firstcron">
                            alle
                            <input class="disabled-radio firstBtn w-15" name="min1" type="number" max="59" min="0"
                                   id="firstMin">
                            minuten
                        </div>

                        <!--2.radio Button-->

                        <div class="form-check col-md-6 mt-2">

                            <input class="form-check-input mt-2 radio-button" type="radio" name="ausführung"
                                   value="secondBtn"
                                   id="secondcron">
                            jeden tag um
                            <input class="disabled-radio secondBtn w-15" name="hour1" type="number" max="24" min="0"
                                   id="secondHour">
                            :
                            <input class="disabled-radio secondBtn w-15" name="min2" type="number" max="59" min="0"
                                   id="secondMin">
                        </div>


                        <!-- 3.radio Button-->
                        <div class="form-check col-md-6 mt-2">
                            <input class="form-check-input mt-2 radio-button" type="radio" name="ausführung"
                                   value="thirdbut"
                                   id="thirdcron">
                            <input class="disabled-radio thirdbut h-25 w-15" name="day" type="number" max="31" min="0"
                                   id="thirdDay">
                            des Monats
                            <input class="disabled-radio thirdbut w-15" name="hour2" type="number" max="24" min="0"
                                   id="thirdHour">
                            :
                            <input class="disabled-radio thirdbut w-15" name="min3" type="number" max="59" min="0"
                                   id="thirdMin">

                        </div>
                        <!-- 4.radio Button-->
                        <div class="form-check col-md-6 mt-2">
                            <input class="form-check-input mt-2 radio-button" type="radio" name="ausführung"
                                   value="fourthbut"
                                   id="fourthcron">
                            Benutzerdefiniert

                        </div>
                    </div>
                </div>

                <br>
                <!-- Benachrichtigung-->

                <div class="row-form">
                    <div class="row-md-6">

                        <div class="form-check col-md-8 mt-2">
                            <input class="form-check-input" type="radio" name="gridRadios1" value="firstbut"
                                   id="firstrad" checked>
                            Fehlschlag es Jobs
                        </div>


                        <div class="form-check col-md-8 mt-2">

                            <input class="form-check-input" type="radio" name="gridRadios1" value="secondbut"
                                   id="secondrad">
                            bei erfolgreichem Abruch nach Vorherigem Fehlschlag
                        </div>


                        <div class="form-check col-md-8 mt-2">
                            <input class="form-check-input" type="radio" name="gridRadios1" value="thirdbut"
                                   id="thirdcrad">
                            automatischer Deaktivierung wegen zu viler fehlschläge
                        </div>

                    </div>
                </div>
                <br>
                <!-- Antwort SPeichern-->
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck2">
                            <label class="form-check-label" for="gridCheck1" name="auth" value="on">
                                Antwort Speichern
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row-md-6 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Speichern</button>
                </div>
            </div>
        </form>
    {% else %}

        <h1 class="text-center">Make ur Cronjob</h1>
        <div>
            <img src="static/Cronjob_dev/img/clock.jpg" class="img-fluid" alt="Responsive image"></img>
        </div>

    {% endif %}

{% endblock %}
